@import '../../shared/mixin.scss';
@import '../../shared/variables.scss';


.bg-main{
    background-color: $bg-main;
}

.fa-home{
    color: $bg-second;
}

.nav-link{
    @include text;
}

.navbar-toggler:focus{
    outline: 5px auto $bg-second;
  }
